*{
    font-family: "Inter", sans-serif;

    margin:0px;
    padding: 0px;
}

header{
    text-align: center;
    background-color: white;

    margin-bottom: 1rem;

    padding: 20px;
}

body{
    background-color: #F8FAFC;
    line-height: 1.6;
}



.faq{
   max-width: 40rem;   
   background-color: #F8FAFC;
  

   margin: auto;
}

.faq-item{
    
    padding: 2rem;
    
    border-bottom: 2px solid #D2D5DA;


}

.faq-item h2{
    margin-bottom: 10px;
}

.faq-item p,
.faq-item ol,
.faq-item ul {
    
    margin-bottom: 15px;
}

.faq-item ol,
.faq-item ul {
    
    margin-left: 20px;
}

li{
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: #4E80EE;
}

a:hover{
    text-decoration: underline;
}